
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;


}
.timeline >li > .timeline-panel:hover {
	height: auto;
}

.timeline:before {
  top: 40px;
  bottom: 130px;
  position: absolute;
  content: " ";
  width: 40px;
  background-color: #ff0000;
  left: 6.7%;
  margin-left: -20px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;

}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  height: auto;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  left: -40%;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  transition: all 3s;
}

.timeline > li > .timeline-button {
  width: 100px;
  height: 100px;
  font-size: 1.4;
  position: absolute;
  top: 16px;
  left: 5%;
  margin-left: -25px;
  background-color: #ff0000;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;

}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:hover{
	white-space: normal;
	overflow: visible;
	text-overflow: clip;
}

.timeline-title {
  margin-top: 0;
}
p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: white-space 3s;
	transition: overflow 3s;
	transition: text-overflow 3s;

}
p:hover, h4:hover{
	white-space: normal;
	overflow: visible;
	text-overflow: clip;

}
